.space {
  height: calc(var(--density) * 0.7em);

  &.S {
    height: calc(var(--density) * 0.7em);
  }
  &.M {
    height: calc(var(--density) * 1.4em);
  }
  &.L {
    height: calc(var(--density) * 2.4em);
  }
  &.XL {
    height: calc(var(--density) * 4em);
  }
}

.wrapper {
  position: relative;
  /* width: 70%; */
  margin: 0 auto;

  padding-left: 35%;
  top: 2em;
  margin-right: 2em;
  margin-bottom: 4em;

  @media (width < 767px) {
    width: 100%;
    padding: 0 calc(var(--density) * 0.6em);
  }

  &.L {
    width: 85%;

    @media (width < 767px) {
      width: 100%;
      padding: 0 calc(var(--density) * 0.6em);
    }
  }
  &.XL {
    width: 100%;
    padding: 0 calc(var(--density) * 0.75em);

    @media (width < 767px) {
      padding: 0 calc(var(--density) * 0.6em);
    }
  }
  &.XXL {
    width: 100%;    

    @media (width < 767px) {
      padding: 0;
    }
  }



  & .text-width {
    width: 85%;

    @media (width < 767px) {
      width: 100%;
    }
  }
}

.sequence {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(var(--density) * 0.4em);
  --gap: 0em;
  gap: var(--gap);

  &.gap-L {
    --gap: 1.5em;
    margin-bottom: calc(var(--gap) * 1.5);
  }

  &.gap-M {
    --gap: 1em;
    margin-bottom: calc(var(--gap) * 1.5);
  }

  &.gap-S {
    --gap: 0.5em;
    margin-bottom: calc(var(--gap) * 1.5);
  }

  .sequence-item {
    --columns: 4;
    width: calc((100% - var(--gap) * (var(--columns) - 1)) / var(--columns));

    @media (width < 767px) {
      --columns: 2;
    }
  }

  &.XL {
    .sequence-item {
      --columns: 2;

      @media (width < 767px) {
        --columns: 1;
      }
    }
  }

  &.L {
    .sequence-item {
      --columns: 3;

      @media (width < 767px) {
        --columns: 2;
      }
    }
  }

  &.S {
    .sequence-item {
      --columns: 6;

      @media (width < 767px) {
        --columns: 3;
      }
    }
  }
}

.project-item {
  margin-bottom: 1em;
  /* height: 20em; */
  
  & img {
    object-fit: cover;
    border-radius: 0.5em;
    /* aspect-ratio: 16 / 9; */
  }
}

#frame-wrapper {
  aspect-ratio: 16 / 9;
  height: 100%;
  overflow: hidden;
}

#frame-reel {
  display: flex;
  width: 100%;
  /* margin-left: -100%; */
}

#frame-reel img {
  width: 100%;
  height: 100%;
}

.project-caption {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5em;
}

.links {
  display: flex;
  justify-content: space-between;
  margin: 2em 2em 2em 0;
  padding-left: 35%;
  
  @media (width < 767px) {
    flex-direction: column;
    padding: 0 calc(var(--density) * 0.6em);    
  }

  & .link-item {
    margin-bottom: 0.5em;
    /* text-align: center; */
  }

  &.CV {
  }
}

.cv-about {
  display: flex;

  & .cv-pic {
    width: 60em;
  }
}